body {
	background:cyan;
}

h1 {
	background:#556b2f;
	color: white;
	text-transform: uppercase;
	margin:0;
	padding:10px 20px;
	font-weight: normal;
	font-size:24px;
	font-family:'Nunito';
}

body {
	background: #5C258D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#container {
	background: #f6f6f6;
	width: 360px;
	margin:100px auto;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

ul {
	list-style:none;
	margin:0;
	padding:0;
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #555;
}

li:nth-child(2n) {
	background: #f6f6f6;
}

.completed {
	color:lightgray;
	text-decoration: line-through;
}

.fa-plus-square-o {
	float:right;
	color:white;
}

span {
	background: #e74c3c;
	color: white;
	margin-right: 20px;
	text-align: center;
	height: 40px;
	width: 0px;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width:40px;
	opacity: 1.0;
}	

input {
	border:none;
	font-size:18px;
	background: #f6f6f6;
	width:100%; 
	padding:13px 13px 13px 20px;
	box-sizing: border-box;
	color: #556b2f;
	/*height: 100px;*/
}

input:focus{
	background: #fff;
	border: 3px solid #556b2f;
	outline:none;
}